.header {
    background-color: #00796B;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 0.2fr;
    grid-template-rows: 1fr;
}

.header-paragraph {
    font-size: 24px;
    color: #FFFFFF;
    font-weight: 500;
    padding-left: 20px;
}
.header-button {
    align-items: center;
}
.button{
    border: none;
    background-color: #00796B;
    font-size: 14px;
    color: white;
    width: 86px;
    height: 36px;
    align-self: center;

}

.button:hover {
    background-color: #00A98E;
}